
<div class="row justify-content-center">
    <div class="col-md-6 shadow py-5 px-5 mt-4">
        <h2 class="mb-4">Add a Bicycle</h2>
        <div class="new-bicycle-form">
            <%= simple_form_for(@bicycle) do |f|%>
                <div class="form-group w-100">
                    <%= f.input :name, class: 'w-100', placeholder: 'Turbo 3000'  %>
                </div>

                <div class="form-group">
                    <%= f.input :description, placeholder: 'Turbo 3000 is the best bicycle in the world.'  %>
                </div>

                <div class="form-group">
                    <%= f.input :photo, as: :file %>
                </div>
                <%= f.submit 'Add', class: 'btn btn-primary w-100' %>
            <% end %>
        </div>
    </div>
</div>
